apprise
certifi
charset-normalizer
cheroot
cherrypy
configobj
CT3
feedparser
guessit
hachoir
more-itertools
notify2
portend
puremagic
pycairo
pygobject
PySocks
python-dateutil
rarfile
rebulk
sabctools~=9.6.3
